# Ignore virtual environments
venv/
.env/

# Ignore compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore dataset and large files
data/
*.h5
*.npz
*.pth  # Trained model files

# Ignore logs and system files
logs/
*.log
*.out
*.err

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore VS Code settings
.vscode/

# Ignore generated plots and reports
*.png
*.svg
*.pdf
*.html

# Ignore environment configuration files
pyvenv.cfg
